:root {
  --background-rgb: 255, 255, 255;
  --text-primary: #1e2329;
  --text-secondary: #707a8a;
  --border-color: #eaecef;
  --primary-color: #f0b90b;
  --up-color: #0ecb81;
  --down-color: #f6465d;
  --hover-background: #f5f5f5;
}

body {
  color: var(--text-primary);
  background: rgb(var(--background-rgb));
}

.app-layout {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 15%;
}

* {
  box-sizing: border-box;
}
